# nginx proxy address - http://172.17.0.1:59048

name: zitadel
x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

services:
  server:
    image: ghcr.io/zitadel/zitadel:latest
    container_name: zitadel-server
    domainname: ${BASE_DOMAIN_NAME:-}
    hostname: ${BASE_HOST_NAME:-$HOSTNAME}
    restart: always
    pull_policy: always
    user: root
    command: 'start-from-init --masterkey "8COBhAzKUtuP1LD6fIZemOQYBqBROyqa" --tlsMode external'
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      ZITADEL_EXTERNALPORT: 443
      ZITADEL_EXTERNALSECURE: true
      ZITADEL_EXTERNALDOMAIN: ${BASE_HOST_NAME:-$HOSTNAME}
      ZITADEL_DATABASE_POSTGRES_PORT: 5432
      ZITADEL_DATABASE_POSTGRES_HOST: zitadel-db
      ZITADEL_DATABASE_POSTGRES_DATABASE: zitadel
      ZITADEL_DATABASE_POSTGRES_USER_USERNAME: postgres
      ZITADEL_DATABASE_POSTGRES_USER_PASSWORD: zoUPFjvAnXGCqtZ79eNA3kEWcCzNAaN7
      ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME: postgres
      ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD: zoUPFjvAnXGCqtZ79eNA3kEWcCzNAaN7
      ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE: disable
      ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE: disable
      ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME: ${APP_ADMIN_USER:-administrator}@${BASE_HOST_NAME:-$HOSTNAME}
      ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD: ${APP_TEMP_PASS:-lkdfjdlkjaflkjadlgknvczmbnvnoi4e}
    ports:
      - '172.17.0.1:59048:8080'
    volumes:
      - './rootfs/config/zitadel/machinekey:/machinekey'
    depends_on:
      db:
        condition: 'service_healthy'
    networks:
      - 'zitadel'

  db:
    image: postgres:16-alpine
    container_name: zitadel-db
    hostname: zitadel-db
    restart: 'always'
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      POSTGRES_DB: zitadel
      PGUSER: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: zoUPFjvAnXGCqtZ79eNA3kEWcCzNAaN7
    volumes:
      - './rootfs/data/db/postgres:/var/lib/postgresql/data'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready', '-d', 'zitadel', '-U', 'postgres']
      interval: '10s'
      timeout: '30s'
      retries: 5
      start_period: '20s'
    networks:
      - 'zitadel'

networks:
  zitadel:
    name: zitadel
    external: false
